@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='checkbox'] {
  height: 1.2em;
  width: 1.2em;
}

#lengthLabel {
  position: absolute;
  display: block;
  color: #000000;
  background: #ffffff;
  padding: 2px 6px;
  border-radius: 20px;
  top: -30px;
}

#lengthLabel::before {
  position: absolute;
  z-index: -1;
  height: 1.2em;
  width: 1.2em;
  content: "";
  background-color: #ffffff;
  bottom: -5px;
  transform: rotate(45deg);
}