html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
#root {
  margin: auto;
}
.card {
  margin: 20px auto;
  background: rgba(64, 102, 165, 0.8);
  border: 1px solid rgba(64, 102, 165, 1);
}
.card-header,
.card-footer {
  background: rgba(64, 102, 165, 0.5);
}
.form-input .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-input .form-control:focus {
  z-index: 2;
}
.form-input input[type="number"] {
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  text-align: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-input button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.input-group textarea {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(64, 102, 165, 0.8);
  resize: none;
  rows: 2;
}
label {
  text-align: left;
}
.alert {
  font-size: 0.8em;
}
#copy {
  color: rgba(64, 102, 165, 1);
  opacity: 0.8;
}
#copy:hover {
  cursor: pointer;
  background-color: #f8f9fa;
  opacity: 1;
}
footer {
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: rgba(64, 102, 165, 0.6);
  border-top: 1px solid rgba(64, 102, 165, 1);
}
footer p {
  font-size: 0.8em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.alert {
  width: 85%;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  animation: exit 3s ease-out;
}
@keyframes exit {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
