html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
#root {
  margin: auto;
}
.card {
  margin: 20px auto;
}
.form-input .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-input .form-control:focus {
  z-index: 2;
}
.form-input input[type="number"] {
  text-align: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-input button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.input-group textarea {
  resize: none;
  rows: 2;
}
label {
  text-align: left;
}
.alert {
  font-size: 0.8em;
}
#copy {
  opacity: 0.8;
}
#copy:hover {
  cursor: pointer;
  background-color: #f8f9fa;
  opacity: 1;
}
.input-group-append:hover:before {
  content: "COPY";
  display: block;
  background: #1d1d1d;
  color: #ffffff;
  position: absolute;
  font-size: 0.6em;
  padding: 2px 8px;
  border-radius: 3px;
}
footer {
  align-self: flex-end;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.03);
}
footer .text-secondary {
  font-size: 0.8em;
}
.alert {
  width: 85%;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  animation: exit 3s ease-out;
}
@keyframes exit {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
